*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial,sans-serif;
    background-color: #0f172a;
    color: white;
}
header{
    background-color: #020617;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 8%;
}
.logo{
    text-align: center;
    margin: 14px;
}
.logo h2{
    margin: 0;
}
.logo p{
    margin: 5px 0 0;
    font-size: 14px;
}
nav ul {
    display: flex;
    list-style: none;
    right: 50px;
    top: 40px;
    gap: 25px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: #38bdf8;
}
#home{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 50px 10%;
}
#home p{
    font-size: 18px;
    margin-bottom: 15px;
}
#home h1{
    font-size: 55px;
    margin-bottom: 10px;
}
#home h2{
    font-size: 30px;
    color: #38bdf8;
    margin-bottom: 20px;
}
#home a{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    font-weight: bold;
}
#home a:haver{
    background-color: white;
}
#about{
    padding: 80px 10%;
    text-align: center;
}
#about h2{
    font-size: 35px;
    margin-bottom: 25px;
}
#about p{
    max-width: 800px;
    margin: 15px auto;
    font-size: 18px;
    line-height: 1.7;
}
#skills{
    padding: 80px 10%;
    text-align: center;
}
#skills h2 {
    font-size: 35px;
    margin: 40px;
}
.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.skill{
    padding: 15px;
    border: 1px solid   #333;
    border-radius: 10px;
    font-size: 18px;
}
#project{
    padding: 80px 10px;
    text-align: center;
}
#project h2{
    font-size: 35px;
    margin: 40px;
    color: #38bdf8;
}
.project-card{
    background: #1e293b;
    padding: 30px;
    border: 1px solid #334155;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease,border-color 0.3s ease;
}
.project-card h3{
    font-size: 23px;
    color: #38bdf8;
    margin-bottom: 15px;
}
.project-card strong{
    color: white;
}
.project-card:hover{
    transform: translateY(-5px);
    border-color: #38bdf8;
}
#education h2{
    font-size: 35px;
    margin-bottom: 40px;
    color: #38bdf8;
}
.education-card{
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background-color: #1e293b;
    border: 1px solid #334155;
    text-align: left;
}
.education-card h3{
    color: #38bdf8;
    font-size: 24px;
    margin-bottom: 20px;
}
.education-card p{
    color: #cbd5e1;
    line-height: 1.7;
    margin-bottom: 15px;
}
#contact {
    padding:  80px 10%;
    text-align: center;
}
#contact h2{
    font-size: 35px;
    margin-bottom:  25px;
}
#contact p{
    margin: 15px 0;
    font-size: 18px;
}
#contact a{
    color: #38bdf8;
    text-decoration: none;
}
#contact a:hover{
    text-decoration: underline;
}
#Resume{
    padding: 80px 10%;
    text-align: center;
}
#Resume h2{
    font-size: 35px;
    margin-bottom: 20px;
    color: #38bdf8;
}
#Resume p{
    margin: 40px;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
}
#Resume a{
    display: inline;
    margin: 10%;
    padding: 12px 25px;
    margin: 10px;

    background-color: #38bdf8;
    color: #020617;

    text-decoration: none;
    border-radius: 6px;

    font-size: 16px;
    font-weight: bold;

    transition: 0.3s;
}
#Resume a:hover{
    background-color: #0ea5e9;
    transform: translateY(-3px)
}
#Resume a:active{
    transform: scale(0.95);
}
#footer{
    border-color: #020617;
    text-align: center;
    padding: 30px 10%;
    margin: 50px;
}
#footer p{
    color: #94a3b8;
    font-size: 15px;
    margin: 8px 0;
}
#footer p:first-child{
    color: white;
    font-weight: bold;
}
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    #home {
        padding: 60px 5%;
    }

    #home h1 {
        font-size: 40px;
    }

    #home h2 {
        font-size: 25px;
    }
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
    .skill {
        width: 80%;
    }
    .projects-container {
        grid-template-columns: 1fr;
    }
    .project-card {
        width: 100%;
    }
    .education-card {
        width: 100%;
    }
     #Resume a {
        display: block;
        width: 80%;
        margin: 15px auto;
    }
    #contact {
        padding: 60px 5%;
    }

}